<div class="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="../../../assets/img/nat-8.jpg" alt="Will Photo" class="popup__img">
      <img src="../../../assets/img/nat-9.jpg" alt="Will Photo" class="popup__img">
    </div>
    <div class="popup__right">
      <h2 class="heading-secondary u-margin-bottom-small">Are you Prepared?</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Read some frequently asked questions and get started!</h3>
      <p class="popup__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolores optio at dignissimos, est veritatis saepe esse cumque atque reprehenderit exercitationem odio itaque, ratione, vitae ducimus quibusdam id omnis ullam?
      </p>
      <a href="#" class="btn btn--green">Get Started</a>
    </div>
  </div>
</div>