<section class="section-stories">
<app-background-video></app-background-video>

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      We make it easy to prevent family feuds.
    </h2>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="../../../assets/img/nat-8.jpg" alt="Person on a Tour" class="story__img">
        <figcaption class="story__caption">
          Mary Smith
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading--tertiary u-margin-bottom-small">
          I HAD THE MOST STRESS FREE EXPERIENCE WITH LEGATUMX
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum ab nam porro veniam fuga nisi natus exercitationem, illum doloribus, veritatis, ea nulla quidem libero! Aliquam, ut corrupti? Explicabo, aut?
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="../../../assets/img/nat-9.jpg" alt="Person on a Tour" class="story__img">
        <figcaption class="story__caption">
          Mike Doyle
        </figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading--tertiary u-margin-bottom-small">
          DISOWNING MY BRAT CHILD HAS NEVER BEEN EASIER!
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum ab nam porro veniam fuga nisi natus exercitationem,
          illum doloribus, veritatis, ea nulla quidem libero! Aliquam, ut corrupti? Explicabo, aut?
        </p>
      </div>
    </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn-text">
      Read more testimonials!
    </a>
  </div>
</section>