@import "../../../sass/abstracts/_variables.scss";
@import "../../../sass/abstracts/_mixins.scss";

.section-stories {
  padding: 15rem 0;
  position: relative; 

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}